<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CLIENT_ID</key>
		<string>9542571085-ctp9692o707qb4s41r13bmnsq7nmauun.apps.googleusercontent.com</string>
		<key>REVERSED_CLIENT_ID</key>
		<string>com.googleusercontent.apps.9542571085-ctp9692o707qb4s41r13bmnsq7nmauun</string>
		<key>API_KEY</key>
		<string>AIzaSyAYND-jVuCP38-al6mSfU09K3s03ZxFBSc</string>
		<key>GCM_SENDER_ID</key>
		<string>9542571085</string>
		<key>PLIST_VERSION</key>
		<string>1</string>
		<key>BUNDLE_ID</key>
		<string>com.kgs.kgsyksDestek</string>
		<key>PROJECT_ID</key>
		<string>kgsyks-destek-b7645</string>
		<key>NSUserTrackingUsageDescription</key>
		<string>Bu uygulama reklamları ve kullanıcı deneyimini iyileştirmek için verilerinizi kullanır.</string>
		<key>STORAGE_BUCKET</key>
		<string>kgsyks-destek-b7645.firebasestorage.app</string>
		<key>IS_ADS_ENABLED</key>
		<false></false>
		<key>IS_ANALYTICS_ENABLED</key>
		<false></false>
		<key>IS_APPINVITE_ENABLED</key>
		<true></true>
		<key>IS_GCM_ENABLED</key>
		<true></true>
		<key>IS_SIGNIN_ENABLED</key>
		<true></true>
		<key>GOOGLE_APP_ID</key>
		<string>1:9542571085:ios:bc3a89c04c2ea34027b804</string>
	</dict>
</plist>